/*CSS document*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Aktiv Grotesk', sans-serif;
    padding: 0em 1em;
    color: #0D1321;
}

div.container {
    max-width: 40em;
    margin: auto;
}

figure {
    margin: 0;
}

h2 {
    padding-bottom: 0.3em;
    font-size: 2em;
    line-height: 1.2em;
}
img {
    width: 100%;
    padding-bottom: 0.8em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline;
    padding-right: 0.8em;
}

figcaption {
    font-style: italic;
    padding-bottom: 1.75em;
}

.logo {
    width: 60%;
    padding-top: 1.5em;
}

nav {
    font-size: 0.8em;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 2px solid #0D1321;
}

h3 {
    font-size: 1.5em;
    padding-bottom: 0.1em;
    line-height: 1em;
    font-family: 'Aktiv-Grotesk', sans-serif;
    font-style: bold;
}

.teaser-no-image h3 {
    font-size: 1.5em;
}

.teaser-no-image p {
    font-size: 1em;
}
p {
    padding-top: 0.5em;
}
article p {
    margin-bottom: 2em;
}
.section-end {
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 2px solid #6DD3CE;
}

a {
    text-decoration: none;
    color: #0D1321;
}

.hero-story h3 {
    color: rgb(205, 44, 25);
    font-size: 2em;
    line-height: 1.1em;
}

footer {
    border-top: 2px solid #0D1321;
    padding-top: 1.5em;
    padding-bottom: 2em;
}

.bottom-padding {
    padding-bottom: 2em;
}